
.point-items {
    font-size: calc(20px + 2vmin);
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 50vh;
    border-radius: 6px;
    background-color: aquamarine;
}
  
.edit-text {
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 4px;
    color: black;
    font-size: calc(10px + 1.5vmin);
}  
.edit-text-area {
    font-size: calc(10px + 1.5vmin);
    color: grey;
}