
.point-list {
    padding: 20px;
    justify-content: left;
    display: flex;
    flex-direction: row;
    max-height: 85vh;
    border-radius: 6px;
    background-color: #299fce;
  }

.add-button {
  background-color: #1089b9;
  font-size: calc(5px + 2vmin);
  width: 6vw;
}

.point-row {
  max-width: 98vw;
}