
.point {
    font-size: calc(20px + 2vmin);
    margin-top: 20px;
    width: 90vw;
    justify-content: left;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    height: 250px;
    border-radius: 6px;
    background-color: aquamarine;
  }
  
  .edit-text {
    margin-top: -4px;
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: -10px;
    color: black;
}  
.edit-text-area {
    font-size: calc(8px + 2vmin);
    height: 10px;
    color: grey;
    height: 200px;
}