
.point {
    font-size: calc(20px + 2vmin);
    margin: 10px 5px;
    padding: 10px;
    justify-content: left;
    display: flex;
    flex-direction: column;
    width: 36vw;
    border-radius: 6px;
    background-color: aquamarine;
    border: 1px solid black;
    word-wrap: break-word;
}

.unhighlighted {
  font-size: calc(8px + 1.5vmin);
  margin: 5px 5px;
  border: 0px solid black;
  padding: 5px;
  height: auto;
  max-height: 120px;
  width: 15vw;
  border-radius: 6px;
  background-color: rgb(18, 177, 156);
  overflow:hidden;
}
  
.title {
    margin-top: 4px;
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 4px;
    color: black;
    flex: 1;
    white-space: pre-line;
}
.edit-button {
    flex: 2;
}

.selected {     
  background-color: aquamarine;
}

.description {
    white-space: pre-line;
    font-size: calc(8px + 2vmin);
    color: grey;
}
.sources {
    white-space: pre-line;
    font-size: calc(4px + 2vmin);
    color: darkgrey;
}