
.point {
    font-size: calc(20px + 2vmin);
    margin: 10px 0;
    padding: 10px;
    justify-content: left;
    display: flex;
    flex-direction: column;
    width: 380px;
    border-radius: 6px;
    background-color: aquamarine;
    border: 1px solid black;
}

.unhighlighted {
  margin: 5px 0;
  border: 0px solid black;
  padding: 5px;
  background-color: rgb(18, 177, 156);
}
  
.title {
    margin-top: 4px;
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 4px;
    color: black;
}  
.description {
    font-size: calc(8px + 2vmin);
    color: grey;
}
.sources {
    font-size: calc(4px + 2vmin);
    color: darkgrey;
}